<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do list</title>
  </head>
  <body>

    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
      <h1 style="color: pink"><%= kindOfDay %> List</h1>
    <% } else { %>
      <h1 style="color: lightBlue"><%= kindOfDay %> List</h1>
    <% } %>

  </body>
</html>
