<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do list</title>
  </head>
  <body>
      <h1><%= kindOfDay %> List</h1>

      <ul>
        
        <% for (newListItem of newListItems) { %>
          <li><%= newListItem %></li>
        <% } %>

      </ul>
      <form class="" action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
      </form>
  </body>
</html>
